@import url(//fonts.googleapis.com/css?family=Anton:);
.iron-audioplayer .playlist .audio-track, .iron-audioplayer .playlist .track-number { 
	font-family: Anton;
	font-size: 16px;
	color: rgb(255, 255, 255);
}
.iron-audioplayer .track-title, .continuousPlayer .track-name, .artist_player .track-name { 
	font-family: Anton;
	font-size: 16px;
	color: rgb(255, 255, 255);
}
.iron-audioplayer .album-title, .continuousPlayer .album-title, .artist_player .album-title { 
	font-family: Anton;
	font-size: 14px;
	color: rgb(198, 161, 12);
}
.continuousPlayer .track-name { 
	color: rgb(255, 255, 255);
}
.continuousPlayer .album-title { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer .playlist :not([data-audiopath = ""])>.audio-track:hover { 
	color: rgb(198, 161, 12);
}
.iron-audioplayer .playlist li.current.playing .audio-track { 
	color: rgb(219, 189, 68);
}
.continuousPlayer { 
	background-color: rgb(0, 0, 0);
}
.playlist .cr_it-playlist-title, .cr_it-playlist-artists, .cr_it-playlist-release-date { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer .control polygon, .iron-audioplayer .control path, .iron-audioplayer .control rect, .continuousPlayer .control rect, .continuousPlayer .control path, .continuousPlayer .control polygon{
        	fill:rgb(0, 0, 0);
        }
        .iron-audioplayer .player .currentTime, .iron-audioplayer .player .totalTime{
            color:rgb(0, 0, 0);
        }
        .iron-audioplayer .playlist .track-number svg path, .iron-audioplayer .playlist .track-number svg rect{
            fill:rgb(219, 189, 68);
        }.continuousPlayer .control rect, .continuousPlayer .control path, .continuousPlayer .control polygon{
        	fill:rgb(255, 255, 255);
        }