@import url(//fonts.googleapis.com/css?family=Anton:);
.event-line-node { 
	font-family: Anton;
	font-size: 18px;
	color: rgb(0, 0, 0);
}
.event-line-wrap:hover .event-line-node { 
	color: rgb(0, 0, 0);
}
.event-line-wrap { 
	background-color: rgb(198, 161, 12);
	padding-top: 20px;
	padding-bottom: 20px;
}
.event-line-wrap:hover { 
	background-color: rgb(156, 127, 9);
}
.event-line-wrap .artists { 
	color: rgb(198, 161, 12);
}
.countdown-block { 
	font-family: Anton;
	font-size: 21px;
	color: rgb(0, 0, 0);
	letter-spacing: 0px;
}
.event-line-wrap .event-line-countdown-wrap { 
	background-color: rgb(198, 161, 12);
}
ul.concerts-list { 
	border-top-color: rgb(0, 0, 0);
}
ul.concerts-list li { 
	border-bottom-color: rgb(0, 0, 0);
}
.events-bar { 
	border-top-color: rgb(0, 0, 0);
	background-color: rgb(198, 161, 12);
}
span.events-bar-artists select { 
	border-color: rgb(0, 0, 0);
}
span.events-bar-title, span.events-bar-artists select { 
	font-family: Anton;
	font-size: 15px;
	color: rgb(0, 0, 0);
	letter-spacing: 0px;
}
span.events-bar-artists:after { 
	border-top-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
}
.event-line-wrap .artists{ background-color:rgb(0, 0, 0)}